<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= title%></title>
    <%- include ('partials/head')%>
</head>




<body>
    <%- include ('partials/navegacion')%>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center animated flipOutX">
                <img src="/image/subaru.png">
            </div>
        </header>
    </div>


    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>Deme un like en youtube</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis aut ad esse odio nulla officia incidunt eius saepe omnis deserunt doloremque veniam, quod cum nostrum iure velit cupiditate neque libero!</p>
            </div>
        </div>

    </div>

    <%- include ('partials/footer')%>

</body>

</html>